@import url('https://fonts.cdnfonts.com/css/avenir');

body {
    background-image: url('img/wallpaper.jpg');
    background-size:cover;
}

h2{
    font-family: Avenir, sans-serif;
    text-align: center;
    font-size: 36px;
    padding: 10px 20px;
    color: white;
}

#mario-chat{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    font-family: Avenir, sans-serif;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 25px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
    border-radius: 25px 25px 0 0;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #fd7c2a;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #fd7c2a;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

#handle::placeholder {
    color: #ffa057;
}

#handle {
    color: #fd7c2a;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Avenir, sans-serif;
    font-size: 16px;
}

button{
    font-family: Avenir, sans-serif;
    background: #ff6e13;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 25px 25px;
}
